@font-face {
  font-family: 'Playfair-Regular';
  src: url('../../fonts/PlayfairDisplay-Regular.eot');
  src: url('../../fonts/PlayfairDisplay-Regular.eot?#iefix')
      format('embedded-opentype'),
    url('../../fonts/PlayfairDisplay-Regular.woff2') format('woff2'),
    url('../../fonts/PlayfairDisplay-Regular.woff') format('woff'),
    url('../../fonts/PlayfairDisplay-Regular.ttf') format('truetype'),
    url('../../fonts/PlayfairDisplay-Regular.svg#PlayfairDisplay-Regular')
      format('svg');
  font-display: swap;
}

@font-face {
  font-family: 'Yantramanav-Light';
  src: url('../../fonts/Yantramanav-Light.eot');
  src: url('../../fonts/Yantramanav-Light.eot?#iefix')
      format('embedded-opentype'),
    url('../../fonts/Yantramanav-Light.woff2') format('woff2'),
    url('../../fonts/Yantramanav-Light.woff') format('woff'),
    url('../../fonts/Yantramanav-Light.ttf') format('truetype'),
    url('../../fonts/Yantramanav-Light.svg#Yantramanav-Light') format('svg');
  font-display: swap;
}

@font-face {
  font-family: 'Yantramanav-Regular';
  src: url('../../fonts/Yantramanav-Regular.eot');
  src: url('../../fonts/Yantramanav-Regular.eot?#iefix')
      format('embedded-opentype'),
    url('../../fonts/Yantramanav-Regular.woff2') format('woff2'),
    url('../../fonts/Yantramanav-Regular.woff') format('woff'),
    url('../../fonts/Yantramanav-Regular.ttf') format('truetype'),
    url('../../fonts/Yantramanav-Regular.svg#Yantramanav-Regular') format('svg');
  font-display: swap;
}

@font-face {
  font-family: 'Yantramanav-Bold';
  src: url('../../fonts/Yantramanav-Bold.eot');
  src: url('../../fonts/Yantramanav-Bold.eot?#iefix')
      format('embedded-opentype'),
    url('../../fonts/Yantramanav-Bold.woff2') format('woff2'),
    url('../../fonts/Yantramanav-Bold.woff') format('woff'),
    url('../../fonts/Yantramanav-Bold.ttf') format('truetype'),
    url('../../fonts/Yantramanav-Bold.svg#Yantramanav-Bold') format('svg');
  font-display: swap;
}
